:root {
    --azul_titulo : #071c61;
    --branco: #ffffff;
}

body {
    width: 820px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: auto 0;
}

.div__titulo {
    background-color: var(--azul_titulo);
    color: var(--branco);
    font-size: 30px;
    text-align: center;
}

.input__formato {
    border-radius: 7px;
}

.div__botao {
    text-align: center;
    margin: 1em;
}

.div__rodape {
    background-color: var(--azul_titulo);
    font-size: 0.6em;
    color: var(--branco);
    text-align: center;
    margin: 2em 0;
    padding: 0.5em;
}

.botao__efeito:hover {
    background-color: var(--azul_titulo);
    color: var(--branco);
    font-weight: bold;
    border: black 1px solid;
    cursor: pointer;
    height: 1.6em;
    transition: 0.7s;
}

.input__foco:focus {
    background-color: var(--branco);
}

.fieldset {
    margin: 1.5em;
    color: var(--azul_titulo);
}

.legend {
    background-color: var(--azul_titulo);
    color: var(--branco);
    border-radius: 7px;
    padding: 3px;
}

.div__menu {
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: transparent;
    border: 2px var(--azul_titulo) solid;
}

.menu__opcao {
    text-align: center;
    padding: 1em;
    width: 30%;
    font-weight: bold;
}

.menu__opcao:hover {
    background-color: var(--azul_titulo);
    color: var(--branco);
}

a {
    text-decoration: none;
    color: black;
    background-color: transparent;
    width: 50%;
}

a:hover {
    color: var(--branco);
}