:root {
    --azul_titulo : #071c61;
    --branco: #ffffff;
}

body {
    width: 820px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75em;
    margin: auto 0;
}

.div__titulo {
    background-color: var(--azul_titulo);
    color: var(--branco);
    font-size: 30px;
    text-align: center;
}

.input__formato {
    border-radius: 7px;
}

.div__botao {
    text-align: center;
}

.div__rodape {
    background-color: var(--azul_titulo);
    font-size: 0.6em;
    color: var(--branco);
    text-align: center;
    margin: 2em 0;
    padding: 0.5em;
}

.botao__efeito:hover {
    background-color: var(--azul_titulo);
    color: var(--branco);
    font-weight: bold;
    border: black 1px solid;
    cursor: pointer;
    height: 1.6em;
    transition: 0.7s;
}

.input__foco:focus {
    background-color: #e4edff;
}